extends layout

block content

	script.
		function clearInputFields(val){ 
		document.getElementById('q1'+val.id).value = ''; 
		document.getElementById('q2'+val.id).value = '';
		document.getElementById('q3'+val.id).value = '';
		document.getElementById('q4'+val.id).value = '';
		document.getElementById('q5'+val.id).value = '';
		document.getElementById('q6'+val.id).value = '';
		document.getElementById('q7'+val.id).value = '';
		document.getElementById('q8'+val.id).value = '';
		document.getElementById('q9'+val.id).value = '';
		document.getElementById('q10'+val.id).value = '';
		};

		function clearAllFields(){
			var allInputs = document.getElementsByTagName("input");
			for(var i = 0; i<allInputs.length;i++){
				if(allInputs[i].type=='text')
					allInputs[i].value = '';
			}
		}


	div.container
		div.row

			div.col-sm-10.col-md-16.col-md-offset-1
				a(href='/signout', class='text-right new-account') Sign Out
				#user
					h1.text-center.login-title Welcome #{user.firstName}. Please find the survey questions below:

					
						- var arr= states;
						- var questions= surveyQuestions;
						- var allPredictions= answers; 
						- console.log(questions);
						- console.log(allPredictions);
						br
						br
						br
						br
						br
						br
											
						form(method="post", action="/submit")
							input(type="hidden", name="username", value='#{user.username}')
							input(type="hidden", name="email", value='#{user.email}')
							- var i = 0;
							each val in arr
								div(id= val).signup-wall
									b
										p= val
										table(border=0)
											tr
												td
												each question in questions[val]
													td
														label.questions= question
														&#32;&#32;&#32;
											
											tr
												td
													<p>&nbsp;&nbsp;2015</p>
												td
													&nbsp;&nbsp;&nbsp;
													input.border(id= 'q1'+val)(type="text", name="q1"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][0]?allPredictions[i][0]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													input.border(id= 'q2'+val)(type="text", name="q2"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][1]?allPredictions[i][1]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													input.border(id= 'q3'+val)(type="text", name="q3"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][2]?allPredictions[i][2]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													&nbsp;&nbsp;&nbsp;
													input.border(id= 'q4'+val)(type="text", name="q4"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][3]?allPredictions[i][3]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													input.border(id= 'q5'+val)(type="text", name="q5"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][4]?allPredictions[i][4]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

											tr
												td
													<p>&nbsp;&nbsp;2016</p>
												td
													&nbsp;&nbsp;&nbsp;
													input.border(id= 'q6'+val)(type="text", name="q6"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][5]?allPredictions[i][5]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													input.border(id= 'q7'+val)(type="text", name="q7"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][6]?allPredictions[i][6]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													input.border(id= 'q8'+val)(type="text", name="q8"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][7]?allPredictions[i][7]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													&nbsp;&nbsp;&nbsp;
													input.border(id= 'q9'+val)(type="text", name="q9"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][8]?allPredictions[i][8]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												td
													input.border(id= 'q10'+val)(type="text", name="q10"+val, value=(allPredictions?(allPredictions[i]?(allPredictions[i][9]?allPredictions[i][9]:''):''):''), size="5")
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

										button.btn(id= val)(type="button", onclick="javascript:clearInputFields(this)", style="float: right;")
											span.
												Clear

										br
										br
										
									- i = i + 1;	


								ul.user-details
							
							button.btn(type="submit")
								span.
									Submit
							&nbsp;
							&nbsp;
							&nbsp;
							button.btn(type="button", onclick="javascript:clearAllFields()")
								span.
									Clear All Fields
							
									

						